#canva{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 4px white,
                0 0 9px white;
}
body{
    background-color: rgb(0, 0, 0);
}
#score{
    color: white;
    font-size: 60px;
    font-family: monospace;
    text-align: center;
}
.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#btn{
    height: 30px;
    width: 50px;
    border-radius: 20px;
    margin-top: -15px;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 0 0 3px white,
                0 0 7px white;
    text-shadow: 1px 1px 2px white;
}